@import "../../../variables";

.quotation-header {
  width: 90%;
  margin: auto;
  padding: 20px 0;

  .col {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .row {
      a {
        color: $text-secondary;
        font-size: 18px;
      }

      h2 {
        color: $text-secondary;
        font-weight: 600;
      }
    }
  }
}
