@import "../../variables";

.ticket-list {
  width: 90%;
  margin: auto;
  padding-top: 30px;

  .buttons {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 4%;
    margin-bottom: 30px;

    a {
      width: 100%;
      text-decoration: none;
      text-align: center;
      border: none;
      background-color: $text-secondary;
      color: $text-primary;
      border-radius: 2px;
      box-sizing: border-box;
      padding: 5px 0;
    }
  }

  .ticket-info {
    h2 {
      font-weight: 600;
      color: $text-secondary;
    }

    .login-issue,
    .feature-issue,
    .payment-issue {
      border: 1px solid rgba($color-primary, 0.8);
      box-sizing: border-box;
      border-radius: 2px;
      margin-top: 15px;
      padding: 10px;

      h4 {
        font-size: 18px;
        font-weight: 600;
        color: $text-secondary;
        line-height: 21px;
        margin-bottom: 20px;
      }

      p {
        font-size: 14px;
        line-height: 16px;
        margin: 5px;
      }
    }
  }
}
